.carousel-container {
    padding: 1rem 1rem;
    position: relative;
    @media (min-width: 768px) and (max-width: 1024px) {
        padding: 1rem 1.8rem;
    }
    
  }
  
  .carousel-heading {
    font-weight: bold !important; 
    color: #34a76c;
    font-size: 1.25rem !important; 
    margin-bottom: 1.5rem !important;
  
    @media (min-width: 600px) {
      font-size: 1.625rem !important; 
    }
  
    @media (min-width: 960px) {
      font-size: 2.25rem !important; 
    }
  }
  
  .review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 12px;
    background-color: #fff;
    max-width: 100%;
    margin: auto;

    @media (min-width: 600px) {
        border: 1px solid #ddd; 
      }
  
    @media (min-width: 960px) {
      flex-direction: row;
      padding: 2rem;
      gap: 2rem; 
    }
  }
  
  .client-info {
    text-align: center;
    margin-bottom: 1rem;
  
    @media (min-width: 960px) {
      margin-bottom: 0;
      width: 25%;
      margin-right: 2rem; 
    }
  
    img {
      border-radius: 50%;
      object-fit: cover;
    }
  
    .client-name {
      font-weight: bold; 
      color: #333;
      font-size: 1rem;
  
      @media (min-width: 960px) {
        font-size: 1.125rem;
      }
    }
  }
  
  .review-text {
    position: relative;
    padding: 1rem;
    color: #666;
    line-height: 1.6;
    font-size: 0.875rem;
  
    @media (min-width: 960px) {
      padding: 0 2rem;
      font-size: 1rem;
    }
  
    .quote {
      position: absolute;
      width: 20px;
      height: 20px;
  
      @media (min-width: 960px) {
        width: 35px;
        height: 35px;
      }
    }
  
    .quote-open {
      top: 5px;
      left: -8px;
  
      @media (min-width: 960px) {
        top: -20px;
        left: -20px;
      }
    }
  
    .quote-close {
      bottom: 15px;
      right: 2px;
      transform: rotate(180deg);
  
      @media (min-width: 960px) {
        bottom: -15px;
        right: -10px;
      }
    }
  }
  